


<footer>
    <div class="container">
        <div class="row">
          <div class="col-sm-4" id="col1" style="padding-top:20px;">
            <a href="mailto:mariomiles11@gmail.com"><img src="/assets/img/logo_gm.png" alt="" height="20px"> mariomiles11@gmail.com</a>
           
          </div>
          <div class="col-sm-4" id="col2">
            
            
                
                
                   <p><b>© Refugio Virtual</b></p>
                   <p style="color: grey;">Todos los derechos reservados</p>
                
           
          </div>
         
          
              
          <div class="col-sm-4" id="col3" style="padding-top:20px;">
           
            <a href="http://www.twitter.com/RefugioVirtual"><img src="/assets/img/logo_tw.png" alt="" height="20px"> Refugio Virtual</a>
          </div>
      
            
      
          
        
        </div>
      </div>
      
      

</footer>
