

<head>
  <title>Refugio Virtual</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div id="titulo" class="jumbotron text-center">
<div id="img_tit">
<img src="assets/img/titu6.png" alt="">
 </div>
</div>
  

  




  
<div class="container">
  <div class="row">
    <div class="col-sm-4" id="col1">
      <h3 style="color: wheat; text-align: center;font-size:25px; margin-top: 10px;margin-bottom: 15px;">¿Quiénes somos?</h3>
      <p style="color:white;">Somos un grupo de personas preocupadas por el creciente aumento de abandonos Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p style="color:white;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4" id="col2">
      <h1 style="color: wheat; font-size:25px;text-align: center; margin-top: 10px;margin-bottom: 15px;">Contacte con nosotros</h1>
      <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p style="color:white;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
   
    <div class="col-sm-4" id="col3">
     
       
      <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
        <h3>Entrar en el refugio:</h3>
        <p><a class="boton_personalizado" href="/login" id="login">Entrar</a></p>
        <p>¿No estás registrado? ¡Únete!</p>
        <p><a class="boton_personalizado" href="/registro" id="registrarse">Registrarse</a></p>
        
      </ng-template>
      <ng-template #salir>
        <div class="card-header h3 text-center"style="color: wheat;">Tu perfil</div>
    <div class="card-body">
        <p style="color:white;" class="card-text">Nombre: <b>{{perfil.nombre}}</b></p>
        <p style="color:white;" class="card-text">Apellidos: <b>{{perfil.apellidos}}</b></p>
        <p style="color:white;" class="card-text">DNI: <b>{{perfil.dni}}</b></p>
        <p  style="color:white;" class="card-text">E-mail: <b>{{perfil.email}}</b></p>
        <p style="color:white;" class="card-text">Teléfono:<b>{{perfil.telefono}}</b></p>
        <img src="{{perfil.imgSrc}}">
     
        <a class="nav-link" routerLink='/perfil'id="an" style="text-align: center; ">Mi perfil</a>
      
    </div>

      </ng-template>
       
      

    
  
  </div>
</div>

</div>

</body>


