

<head>
  <title>Refugio Virtual</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div id="titulo" class="jumbotron text-center">
<div id="img_tit">
<img src="assets/img/titu6.png"style="max-width:80%;" alt="">
 </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6" id="col1">
      <h3 style="color: wheat; text-align: center;font-size:25px; margin-top: 10px;margin-bottom: 15px;">¿Quiénes somos?</h3>
      <p style="color:white;">Bienvenido/a a Refugio Virtual, una página web donde podrás almacenar cualquier animal que necesite de un nuevo hogar. 
      Somos un grupo de personas preocupadas por el creciente aumento de abandonos y desde nuestro entrono queremos hacer todo lo posible por reducir la tasa de animales abandonados.</p>
      <p style="color:white;">¿A qué esperas? Date de alta y date una vuelta a ver si puedes ayudar.</p>
      
    </div>
    
    <div class="col-sm-6 text-center" id="col3">
      <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
        <h3 style="margin-top: 40px;">Entrar en el refugio:</h3>
        <p><a class="boton_personalizado" href="/login" id="login">Entrar</a></p>
        <p style="color: white;">¿No estás registrado? ¡Únete!</p>
        <p><a class="boton_personalizado" href="/registro" id="registrarse">Registrarse</a></p>
      </ng-template>
      <ng-template #salir>
        <div class="card-header h3 text-center"style="color: wheat;">Tu perfil</div>
    <div class="card-body text-center" style="text-align:center">
        <p style="color:lightgreen;">Ya has iniciado sesión, ¿quieres ir a tu perfil?</p>
        
        <a class="nav-link" routerLink='/perfil'id="an" style="text-align: center; width:50px;">Mi perfil</a>
     
    </div>
    
      </ng-template>
     
   
     
      
  
  </div>
</div>
</div>
</body>


