
<div id="caja_inf">
    Refugio Virtual es una idea desarrollada por un estudiante de DAW(Desarrolo de aplicaciones Web), en la cual se buscará reducir el numero de abandonos de nuestros animales.
    
Lejos de mejorar, la realidad de la protección animal en España mantiene, año tras año, sus nefastas cifras: más de 258 300 animales fueron abandonados en 2020. Dicho de otro modo, se traduce en la friolera de más de 700 animales que terminan en las calles o perreras de nuestro país cada día, según los datos del estudio de abandono y adopción 2021 que recoge la Fundación Affinity.
Por esto y más razones este es mi proyecto de fin de grado.
</div>

<div id="caja_info">
    <p>Puedes contactar con nosotros vía:</p>
    <ul>
        <li type="radius">Twitter: <a href="https://www.twitter.com/RefugioVirtual"><img src="assets/img/logo_tw.png" alt="" height="20px"></a></li>
        <li type="radius">Facebook: <a href=""><img src="assets/img/logo_fb.png" alt="" height="20px"></a></li>
        <li type="radius">Correo: <a href="mailto:mariomiles11@gmail.com"><img src="assets/img/logo_gm.png" alt="" height="20px"></a></li>
    </ul>
</div>
