
<div id="caja_inf">
    Refugio Virtual es una idea desarrollada por un estudiante de DAW(Desarrolo de aplicaciones Web), en la cual se buscará reducir el numero de abandonos de nuestros amigos de 4 patas(más o menos, no nos importa).
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ullam inventore dolor hic, eos, sapiente expedita quaerat blanditiis aliquam quae 
    dolore maxime. Optio ab suscipit ducimus necessitatibus dignissimos praesentium sequi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati beatae doloribus quibusdam minima perferendis dolores ea nihil fugiat, 
    dicta quos ipsam quae esse earum, sed quam dignissimos dolorem et ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ipsa odio ad, animi maxime, facere quam rerum tempora sapiente quo corporis inventore provident asperiores excepturi temporibus a cum placeat illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut harum fuga illum iure magnam ullam autem accusantium expedita quam perferendis qui inventore rerum, similique atque, labore veritatis recusandae officia omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, a error. Necessitatibus blanditiis maiores excepturi impedit fuga eligendi cumque expedita soluta autem facilis. Nam laboriosam neque vitae blanditiis laudantium eaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eum dolor minima accusamus tenetur nesciunt ullam harum nisi voluptatibus quod, 
    corporis sit perferendis culpa, repudiandae deserunt! Doloremque deserunt voluptas libero.

</div>

<div id="caja_info">
    <p>Puedes contactar con nosotros vía:</p>
    <ul>
        <li type="radius">Twitter: <a href="https://www.twitter.com/RefugioVirtual"><img src="assets/img/logo_tw.png" alt="" height="20px"></a></li>
        <li type="radius">Facebook: <a href=""><img src="assets/img/logo_fb.png" alt="" height="20px"></a></li>
        <li type="radius">Correo: <a href="mailto:mariomiles11@gmail.com"><img src="assets/img/logo_gm.png" alt="" height="20px"></a></li>
    </ul>
</div>
