<nav class="navbar navbar-expand-sm bg-black" id="nav1"> 
  <div class="container">
      <div id="logo">
        
        <a href="/home"><img src="assets/img/logo1.PNG" width="70" height="60"></a>

        
      </div>
    
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <nav class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="{{estiloActivo}}">Home</a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="{{estiloActivo}}">About</a>
        </li>
        
      
        <li class="nav-item">
            <a class="nav-link" routerLink="/listaPerfiles" routerLinkActive="{{estiloActivo}}">Lista de perfiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/adopciones" routerLinkActive="{{estiloActivo}}">Todos los animales</a>
        </li>
    </nav>
       
    
       <script>
           $('#navId a').click(e => {
               e.preventDefault();
               $(this).tab('show');
           });
       </script>
    
        
        <ul class="navbar-nav mt-2 mt-lg-0">
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
            <li class="nav-item">
                <a class="nav-link" routerLink="/registro" routerLinkActive="{{estiloActivo}}" id="an">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="{{estiloActivo}}" id="an">Login</a>
            </li>
        </ng-template>
        <ng-template #salir>
            <li class="nav-item">
                <a class="nav-link" routerLink="/perfil" routerLinkActive="{{estiloActivo}}"id="an">Perfil</a>
                <ul style="border-radius:10px; background-color: rgb(36, 35, 35); padding:3px;">
                    <a class="nav-link" routerLink="/misAnimales">Tus animales</a>
                    <a class="nav-link" (click)="doLogout()" routerLink='.' style=" text-align: center;">Logout</a>
                    </ul>
                        
            </li>
           
            <li class="nav-item">
                <img src={{perfil.foto}} id="fotoP">
                
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/perfil" id="an">{{perfil.nombre}}</a>
                
            </li>
            
        </ng-template>
        
      
        </ul>
        <ng-template [ngIf]='!adminLogged()'>
        <h1>LAS PAPAYAS</h1>
          
        </ng-template>
    </div>
  
</nav>

