#columnas{
    column-count:2;
    column-gap:20px;
    column-rule:4px;
 }
 #fotoP{
     max-height: 300px;
     min-width: 250px;
     border:1px solid wheat;
 }
#card{
    max-width:fit-content; 
}
 

 
