<div class="card" style="margin-top: 75px; position: relative;">
    <div class="card-header h5 text-center">Tu perfil</div>
    <div class="card-body">
      <div id="columnas">
      
        <p class="card-text" style="color: wheat;">Nombre: <b>{{perfil.nombre}}</b></p>
        <p class="card-text" style="color: wheat;" >Apellidos: <b>{{perfil.apellidos}}</b></p>
        <p class="card-text"style="color: wheat;">DNI: <b>{{perfil.dni}}</b></p>
        <p class="card-text"style="color: wheat;">E-mail: <b>{{perfil.email}}</b></p>
        <p class="card-text"style="color: wheat;">Teléfono: <b>{{perfil.telefono}}</b></p>
        
        


        <span style="color: wheat;">Foto:</span><br><img src="{{perfil.foto}}" id="fotoP"><br><br>
        <p>Cambiar foto de perfil:</p>
        <input type="file" (change)='tengoFoto($event)'>
        <button type="button"style="background-color: blue;"(click)='subirFoto()'>Subir imagen de perfil</button>
      
        </div>
        
        <button style="background-color: yellow;"(click)='mostrarEditar=!mostrarEditar'>Editar usuario</button>
        <button (click)='mostrarEliminar=!mostrarEliminar'>Eliminar usuario</button>
    </div>
</div>
<div class="card" *ngIf='mostrarEditar'>
    <form [formGroup]="formPerfil" (submit)="editarPerfil()">
        <div class="form-row mb-1">
          <div class="form-group col-md-3">
            <label for="nombre">Nombre:</label>
            <input class="form-control" type="text" placeholder="Nombre" id="nombre" formControlName="nombre">
          </div>
          <div class="form-group col-md-6">
            <label for="apellidos">Apellidos:</label>
            <input class="form-control" type="text" placeholder="Apellidos" id="apellidos" formControlName="apellidos">
          </div>
        </div>
        <div class="form-row mb-1">
          <div class="form-group col-md-2">
            <label for="telefono">Teléfono:</label>
            <input class="form-control" type="number" placeholder="Teléfono" id="telefono" formControlName="telefono">
          </div>
          <div class="form-group col-md-4">
            <label for="email">E-Mail:</label>
            <input class="form-control" type="text" placeholder="E-Mail" id="email" formControlName="email">
          </div>
          <div class="form-group col-md-3">
            <label for="password">Contraseña:</label>
            <input class="form-control" type="text" placeholder="Contraseña" id="password" formControlName="password">
          </div>
      
        </div>
        <button class="btn btn-primary btn-block" type ="submit" [disabled]="!formPerfil.valid">Guardar cambios</button>
      </form>
        <button (click)='mostrarEditar=!mostrarEditar'>Cancelar</button>
    </div>
<div class="card" *ngIf="mostrarEliminar">
    <div class="card-header h5 text-center">Para eliminar tu perfil introduce tu e-mail</div>
    <div class="card-body">
        <input type='text' [(ngModel)]='inputBorrar' placeholder="email">
        <button (click)='mostrarEliminar=!mostrarEliminar; inputBorrar=""'>Cancelar</button>
        <button (click)='eliminarUsuario()' [disabled]='inputBorrar!=perfil.email'>Eliminar</button>
    </div>
    
</div> 

<br>


